vti_encoding:SR|utf8-nl
vti_syncwith_www.srv.net\:21:TX|25 Jan 2000 02:51:50 -0000
vti_syncofs_www.srv.net\:21:TW|17 Jan 2001 16:12:00 -0000
vti_syncwith_www.riviera-apts.com\:21:TX|25 Jan 2000 02:51:50 -0000
vti_syncwith_ftp.srv.net\:21/public_html:TX|25 Jan 2000 02:51:50 -0000
vti_timelastmodified:TR|06 Feb 2004 18:48:50 -0000
vti_syncofs_www.srv.net\:21/mdbird/public_html:TW|15 Feb 2000 19:40:00 -0000
vti_syncofs_ftp.srv.net\:21/home/mdbird:TW|17 Jan 2001 20:32:00 -0000
vti_syncofs_www.riviera-apts.com\:21:TW|26 Feb 2001 14:54:00 -0000
vti_syncofs_ftp.srv.net\:21/public_html:TW|17 Jan 2001 20:38:00 -0000
vti_syncwith_ftp.srv.net\:21/home/mdbird:TX|25 Jan 2000 02:51:50 -0000
vti_syncwith_www.srv.net\:21/mdbird/public_html:TX|25 Jan 2000 02:51:50 -0000
vti_author:SR|mdbird
vti_modifiedby:SR|mdbird
vti_nexttolasttimemodified:TR|06 Feb 2004 18:48:50 -0000
vti_timecreated:TR|10 Dec 2002 01:38:42 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\my webs\\my webs\\riviera/c\:/my webs/my webs/riviera:TR|25 Jan 2000 02:51:48 -0000
vti_backlinkinfo:VX|
vti_syncwith_localhost\\c\:\\my webs\\riviera/c\:/my webs/riviera:TR|25 Jan 2000 02:51:48 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\administrator\\my documents\\my webs/c\:/documents and settings/administrator/my documents/my webs:TR|08 Dec 2002 07:17:57 -0000
vti_syncwith_riviera-aptscom.powweb.com\:80:TR|25 Jan 2000 02:51:48 -0000
vti_syncwith_riviera-apts.com\:80:TR|06 Feb 2004 18:48:50 -0000
vti_syncwith_www.riviera-apts.com\:80:TR|06 Feb 2004 18:48:50 -0000
vti_cacheddtm:TX|06 Feb 2004 18:50:03 -0000
vti_filesize:IR|2550
vti_cachedlinkinfo:VX|S|cacrulea.gif S|cacbul1a.gif S|cacbul2a.gif S|cacbul3a.gif S|cacbana.gif S|cacnavha.gif S|cacnavhh.gif S|cacnavhe.gif S|cacnavva.gif S|cacnavvh.gif S|cacnavve.gif S|cachoma.gif S|cachomh.gif S|cachome.gif S|cacnxta.gif S|cacnxth.gif S|cacnxte.gif S|cacprea.gif S|cacpreh.gif S|cacpree.gif S|cacupa.gif S|cacuph.gif S|cacupe.gif S|cacbul1a.gif S|cacbul2a.gif S|cacbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/cactus/cacrulea.gif FSUS|_themes/cactus/cacbul1a.gif FSUS|_themes/cactus/cacbul2a.gif FSUS|_themes/cactus/cacbul3a.gif FSUS|_themes/cactus/cacbana.gif FSUS|_themes/cactus/cacnavha.gif FSUS|_themes/cactus/cacnavhh.gif FSUS|_themes/cactus/cacnavhe.gif FSUS|_themes/cactus/cacnavva.gif FSUS|_themes/cactus/cacnavvh.gif FSUS|_themes/cactus/cacnavve.gif FSUS|_themes/cactus/cachoma.gif FSUS|_themes/cactus/cachomh.gif FSUS|_themes/cactus/cachome.gif FSUS|_themes/cactus/cacnxta.gif FSUS|_themes/cactus/cacnxth.gif FSUS|_themes/cactus/cacnxte.gif FSUS|_themes/cactus/cacprea.gif FSUS|_themes/cactus/cacpreh.gif FSUS|_themes/cactus/cacpree.gif FSUS|_themes/cactus/cacupa.gif FSUS|_themes/cactus/cacuph.gif FSUS|_themes/cactus/cacupe.gif FSUS|_themes/cactus/cacbul1a.gif FSUS|_themes/cactus/cacbul2a.gif FSUS|_themes/cactus/cacbul3a.gif
